---
import Layout from "../components/Layout.astro";
---

<Layout pageTitle="Conoce mas de Nosotros">
  <h1>Acerca de mi sitio Web</h1>

  <p>Este sitio web fue creado con Astro y Vercel</p>
</Layout>
