---
import Layout from "../components/Layout.astro";
---

<Layout
  pageTitle="Pagina inicial"
  pageDescription="Hola, esta una pagina para ofrecer servicios de desarrolo web"
>
  <h1>Página inicial</h1>

  <p>Bienvenido a mi blog</p>
</Layout>
