---
import Layout from "../components/Layout.astro";
import Button from "../components/ButtonSubcribe";
---

<Layout
  pageTitle="Pagina inicial"
  pageDescription="Hola, esta una pagina para ofrecer servicios de desarrolo web"
>
  <h1>Página inicial</h1>

  <p>Bienvenido a mi blog</p>

  <!-- cambiar el estado del boton con react -->
  <Button client:load />
</Layout>
