---
import Card from "../components/card.astro";
import Layout from "../components/Layout.astro";
---

<Layout pageTitle="Mis servicios">
  <h1>Mis servicios</h1>
  <p>En esta sección encontrarás los servicios que ofrezco</p>

  <!-- usamos el componente card  -->
  <Card title="Hola mundo!!!" content="Esto es una prueba." />
  <Card title="Programacion" content="Servicio de desarrolo web." />
  <Card title="Diseño" content="Diseño de interfacez web" />
  <Card title="Asistencia profresíonal." content="Asistencia Profesional." />
  <Card />
</Layout>
