---
// Importamos estilos y html con layout
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca del sitio web">
  <h1>About</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum reiciendis
    quam quibusdam ut voluptatem doloribus, magnam veniam atque aperiam
    voluptate provident dolorum odio possimus minima. Officiis, quam? Velit odio
    quaerat obcaecati ratione? Architecto eaque atque, accusamus nostrum saepe,
    repellat consequatur repudiandae, voluptates tempore excepturi
    exercitationem nesciunt blanditiis odio inventore sunt fuga numquam officia
    rerum nihil sequi qui ullam porro maxime ratione? Maiores repellat illum
    exercitationem, iste, doloribus incidunt quo, rerum cupiditate possimus ea
    dicta ullam ab dolorem fugiat ratione blanditiis. Distinctio cum accusantium
    voluptatum temporibus. Necessitatibus voluptatem explicabo porro perferendis
    libero ea id quae commodi. Molestias mollitia magni eius neque!
  </p>
</Layout>
