---
import Layout from "../../components/Layout.astro";

const post = await Astro.glob("./post/*.md");

console.log();
---

<Layout
  pageTitle="Blog de Desarrollo"
  pageDescription="Tutoriales de desarrolo y programacion."
>
  <h1>Blog</h1>

  <!-- devolvemos las url recorrida por map, para mostrar por el frontend -->
  {
    post.map((post) => {
      return (
        <a href={post.url} class="link">
          {post.frontmatter.title}
        </a>
      );
    })
  }

  <style>
    .link {
      background-color: wheat;
      color: crimson;
      text-decoration: none;
      display: block;
      margin-bottom: 4px;
      font-weight: bold;
    }
  </style>
</Layout>
