---
// Importamos archivos css
import "../styles/Layout.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Astro Landing</title>
    <!-- <link href="css/style.css" rel="stylesheet"> -->
  </head>
  <body>
    <slot />
  </body>
</html>
