---
// titulo para paginas
interface Props {
  title: string;
}

// Importamos archivos css
import "../styles/Layout.css";

// una variable contante para exportar el titulo
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- aplicamos la varaible para el titulo -->
    <title>Astro Landing - {title}</title>
    <!-- <link href="css/style.css" rel="stylesheet"> -->
  </head>
  <body>
    <main class="mx-auto container md:pt-10"><slot /></main>
  </body>
</html>
